/*****************/
/*** MODAL CSS ***/
/*****************/

.hangman-img-step {
	height: 300px;
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
}

.find-word {
	font-size: 20px;
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.letter {
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
}